<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hi <%= @user.name %> !!!</h1>
      
      <p>
         Your password reset link is <a href="http://localhost:3001/user/forgot_password">Click this link to reset your password</a>
      </p>

      <a href=""></a>


      
   </body>
</html>